.App {
  text-align: center;
}

nav{
  top: 0;
  margin-top: 0;
  position: sticky;
  height: 10vh;
  background-color: rgb(5, 26, 19);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: space-around;
  align-items: center;
  justify-content: center;
}

.nav-link{
  flex: 1
}
